<!DOCTYPE html>
<html ng-app="app1" ng-cloak ng-init="author={fName:'Alex', lName:'Feinberg'}">
<head>
	<title>Twearch by Alex</title>
	<style>
		[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/twearch.css" />
</head>
<body>
	<div class = "banner" ng-controller="ctrl1">
		<div style="width: {{bodyW}}px; margin: 0 auto; text-align: center">
			<h2>{{author.fName + " " + author.lName}} welcomes you to Twearch!!</h2>
			<input type="text" ng-model="searchTerm" /><br>
			<label><input type="checkbox" ng-model="searchOld"><span class="tweet">Search previously saved Tweets</span></label><br>
			<button ng-click="twearch()">Twearch</button>
			<button ng-click="clear()">Clear</button>
			<h3>{{searchResultsHeading}}</h3>
		</div>
		<table style="width:{{bodyW}}px; margin: 0 auto; border:0" ng-hide="searchResults.length==0">
			<tr class="author">
				<td class="sentNeg" style="width: 25%; padding: 3px"><div style="text-align: center">Negative</div></td>
				<td class="sentAmb" style="width: 25%; padding: 3px"><div style="text-align: center">Ambivalent</div></td>
				<td class="sentNeu" style="width: 25%; padding: 3px"><div style="text-align: center">Neutral</div></td>
				<td class="sentPos" style="width: 25%; padding: 3px"><div style="text-align: center">Positive</div></td>
			</tr>
		</table>
		<br>
		<table style="width:{{bodyW}}px; margin: 0 auto; color: black; text-align: left">
			<tr ng-repeat="searchResult in searchResults">
				<td><img src="{{searchResult.image}}" alt="" height="60" width="60"></td>
				<td class="message" ng-class="{'sentPos':searchResult.sentiment=='POSITIVE', 'sentNeu':searchResult.sentiment=='NEUTRAL', 'sentAmb':searchResult.sentiment=='AMBIVALENT', 'sentNeg':searchResult.sentiment=='NEGATIVE'}">
					<span class="author">{{searchResult.username}}</span><br>
					<span class="tweet">{{searchResult.text}}</span>
				</td>
			</tr>
		</table>
		<br>
	</div>
	<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/scripts/ang1.js"></script>
</body>
</html>