<!DOCTYPE html>
<html ng-app="app1" ng-init="author={fName:'Alex', lName:'Feinberg'}">
<head>
	<title>Twearch by Alex</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
	<div class = "container">
	<div class = "banner" ng-controller="ctrl1">
		<img class="newappIcon" src="images/newapp-icon.png">
		<p class = "appTitle">{{author.fName + " " + author.lName}} welcomes you to Twearch!!</p>
		<input type="text" ng-model="searchTerm" />
		<button ng-click="twearch()">Search</button>
		<button ng-click="clear()">Clear</button>
		<br><br>
		<p>{{searchResultsHeading}}</p>
		<ul>
			<li ng-repeat = "searchResult in searchResults">
			{{ 'User: ' + searchResult.username + ', Tweeted: ' + searchResult.text + searchResult.url }}
			</li>
		</ul>
		<br><br>
	</div>

	<section>
		<table id='notes' class='records' border='0' cellspacing='0' cellpadding='0'><tbody></tbody></table>
	</section>
	<footer>
		<div>
			<!-- <button class='detailBtn' onclick="toggleServiceInfo()" title='Service information'>
				<img src='images/detail.png' alt='detail'/>
			-->
			<button class="addBtn" onclick="addItem()" title="add record">
				<img src="images/add.png" alt="add">
			</button>
			<br>
			<a class = "infoImg" onclick="toggleAppInfo()">Help</a>
		</div>
		<div id='appinfo' class = 'appinfo' style='display: none;'>
			Twearch rocks!</br>
		</div>
		<div id="loadingImage"></div>
		<br><br><br><br><br>
		<div id="errorDiv" class='errorMsg'></div>
	</footer>
	<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
	<div id="myImage"><div id="innerImg"></div></div>
	<br><br><br>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/scripts/ang1.js"></script>
</body>
</html>